.nav-link {
  color: black;
}

.nav-link:hover {
  color: orange;
}

.feature-icon-small {
  width: 3rem;
  height: 3rem;
}

.project:hover {
  color: orange;
}
.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.h-100 {
  height: 100% !important;
}

.footers {
  background-color: orange;
  color: white;
}

.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 0rem !important;
}
